/*COMMON*/
/* html, body {
    width: 100%;
    height: 100%;
} */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

a {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: inherit;
}

ol,ul {
    list-style: none;
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float--left {
    float: left;
}

.float--right {
    float: right;
}


/* SECTION & INNER  */
.section {
    position: relative;
}

 .inner {
    max-width: 1200px;
    margin: 0 auto;
    width: calc(100% - 40%);
    box-sizing: border-box;
    position: relative;
}

/* HEADER */
header {
    background: #fff;
}

<<<<<<< HEAD
  }
  header .logo {
      margin-right:10px;
  }
  header .logo a {
      /* background: url("../img/logo2.png"); */
      widows: 32px;
      height: 32px;
      display: block;
      text-indent: -9999px;
  }
  /* header .logo a:hover{
=======
header .inner {
    height: 78px;
}

header .menu-group {
    display: flex;
    align-items: center;
    height: 100%;
    /*inner 78px에 맞춰짐*/
}

header .logo {
    display: block;
    width: 150px;
}
header .logo:hover img {
    fill: #4078c0;
}

header .logo a {
    /* background: url("../img/logo2.png"); */
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -9999px;
}

/* header .logo a:hover{
>>>>>>> branch 'master' of https://github.com/damlee89/standard-project.git
      background: url("../img/logo_on.svg");
  } */
header .main-menu {
    display: flex;
}

header .main-menu li a {
    display: block;
    padding: 10px;
    color: #3c4146;
}

header .main-menu li a:hover {
    text-decoration:underline; 
}

header .sign-group {
    display: flex;
    align-items: center;
    height: 100%;
}

header .sign-group img {
    padding-right: 10px;
}

header .sign-group a:first-of-type input[type=text] {
    height: 20px;
    padding: 0;
    font-size: 11px;
    color: #000;
    width: 0px;
    border: none;
    border-bottom: 1px solid #000;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

header .sign-group a:first-of-type:hover input[type=text] {
    width: 100px;
}

header .btn-group {
    order: 2;
    display: flex;
}

header .btn-group .sign-in {
    margin-right: 4px;
}

header .sub-menu {
    display: flex;
    margin-right: 10px;
}

header .sub-menu li a {
    padding: 8px;
    display: block;
    font-size: 14px;
    color: #3c4146;
    ;
}

header .sub-menu li a:hover {
    text-decoration:underline; 
}

#toggle-btn {
    display: none;
    background: url("../img/toggle-btn.svg");
    width: 18px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
    text-indent: -9999px;
}

/* CONTENT */
.content_wrap {
   display: flex;
}
.side_nav {
    width:150px;
    padding-top: 50px;
}
.side_nav .side_nav_title {
    font-size: 16px;
    font-weight: 500;
}
.side_nav li {
    font-size: 12px;
    line-height: 20px;
}
.side_nav li a {
    display: block;
}

/* LOGIN */
.login_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px 0;
    border-top: 1px solid #e5e5e5;
}
.login_box {
    border: 1px solid #ebebeb;
    width: 500px;
    padding: 30px 30px;
    box-sizing: border-box;
}
.title_box{
    text-align: center;
    margin-bottom: 30px;
}

.login_title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.login_content {
    display: flex;
    justify-content: space-between;
}
.input_box{
    flex: 2;
    margin-right: 15px;
}
.input_box input {
    display: block;
    width: 100%;
    height: 25px;
}
.input_box input[type="password"]{
    margin-top: 5px;
}
.login_content button{
    flex:1;
}
.login_forgot a{
    margin:20px 0;
    display: inline-block;
    margin-right: 10px;
}
.join {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    border-top: 1px solid #ddd;
}
.join_txt {
    line-height: 20px;
}
.join_btn{
    display: block;
    height: 40px;
    background: #000;
    color: #fff;
    line-height: 40px;
    padding: 0 30px;
}

/* ORDER */
.order_wrap {
    width: 100%;
    padding: 100px 0;
}   
.title_area{
    padding: 20px 0;
}
.title_area1 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
}
.title_area2 {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}

.type11 {
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    margin: 20px 10px;
    border-left: none;
    border-right: none;
  }
  .table11 thead tr th {
    padding: 14px 0 15px;
    border-bottom: 1px solid #eaeaea;
    color: #353535;
    font-weight: bold;
    vertical-align: middle;
    font-weight: bold;
    background: #fff;
}
 .type11 tbody td {
    border: 1px solid #eaeaea;
    /* border-left: 0;
    border-right: none; */
    padding: 50px 0;
    font-size: 14px;
    text-align: center;
    color: #757575;
    width: 155px;
    padding: 10px;
    vertical-align: top;
}
 
/* CART */
select { }
button{
    background: #e5e5e5;
    padding: 4px;
    margin: 5px auto;
    /* box-sizing: border-box; */
    border:1px solid slategrey;
    border-radius: 3px;
    
}

/* Register */

.title_area{
    padding: 20px 0;
}
.register_wrap {
    width: 100%;
    padding: 15px 0;
}   

.required{
    text-align: right;
    font-size: 10pt;
}

table.type12 {
    font-size: 9pt;
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
  }
  table.type12 th {
    width: 60px;
    padding: 15px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: none;
    text-align: left;
  }
  table.type12 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }
  table.type12 td > input {
    border: 1px solid #C3C3C3;
    width: 120px; 
    height: 20px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  #mobile2, #mobile3, #phone2, #phone3 {
    width: 50px;
    height: 18px;
  }

  h3 {
    font-size: 17px;
    font-weight: bold;
    padding: 20px 0;
    text-align: left;
}

.content-box.typeThinBg {
    border-width: 1px;
    border-color: #d7d5d5;
    background-color: #fbfafa;
    line-height: 20px;
}

.content-box {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #eaeaea;
    color: #404040;
    font-size: 9pt;
}

.register_wrap .agreeArea .content {
    overflow: auto;
    height: 110px;
    padding: 20px;
    border: 1px solid #d5d5d5;
    background: #fff;
}

.register_wrap .content{
    font-size: 9pt;
    font-family: 'Montserrat', sans-serif;
    line-height: 300%;
}

.member_join {
    text-align: center;
}

/* Modify */

.confirm-button {
    text-align: center;
    padding: 15px;
}

.confirm-button .withdrawal {
    float: right;
    text-align: right;
}

/* Wish List */


.wishList_wrap {
    width: 100%;
    padding: 100px 0;
}   

.type13 table, th {
    font-size: 9pt;
    border: 1px solid #eaeaea;
    padding: 10px 0 10px;
    width: 650px;
    text-align: center;
  }

  .type13 td {
    font-size: 9pt;
    border: 1px solid #eaeaea;
    border-left: 0;
    border-right: 0;
    padding: 5pt;
    width: 650px;
    text-align: center;
    color: #353535;
    vertical-align: middle;
  }

  input[type=checkbox] {
    width: 13px;
    height: 13px;
    border: 0;
}

input, select, textarea {
    font-size: 100%;
    color: #353535;
    vertical-align: middle;
}

.button > input{
    color: white;
    background-color: #5D5D5D;
    width: 65pt;
    padding: 1pt;
    margin: 1pt;
}

.delete_cart .gLeft {
    float: left;
    text-align: left;
}

.delete_cart .gRight {
    float: right;
    text-align: right;
}

.wishlist_index {
    text-align: center;
    margin: 20px 0;
    font-size: 10pt;
    line-height: 0;
    font-family: Verdana,Dotum,AppleGothic,sans-serif;
}

.wishlist_index .first {
    float: center;
}




/* FOOTER  */
footer {}

footer .inner {
    padding: 50px 0;
    border-top: 1px solid #eee;
}

footer .site-links {
    display: flex;
}

footer .site-links li {
    font-size: 12px;
    margin-right: 10px;
    color: #767676;
}

footer .site-links li a {
    color:#e5e5e5;
}
<<<<<<< HEAD
footer .site-links li a:hover {
    text-decoration: underline;
}
footer .logo{
   position: absolute;
   top:0;
   bottom:0; 
   left: 0;
   right: 0;
   margin: auto;
   width: 24px;
   height: 24px;
}
footer .logo:hover svg{
   fill: #4078c0;
}
=======



>>>>>>> branch 'master' of https://github.com/damlee89/standard-project.git
