<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.standard.project.OrderHistoryMapper">
	<select id="getList" resultType="org.standard.project.order.OrderHistoryVO">
		SELECT * FROM orderhistory where c_Id=#{c_Id} order by o_Date DESC
	</select>
	<select id="getDailyIncomeList" resultType="HashMap">
		SELECT o_Date, sum(o_TotalPrice) as 'o_TotalPrice' FROM orderhistory GROUP BY o_Date DESC LIMIT 30
	</select>
	<select id="getBrandOrderList" resultType="org.standard.project.order.OrderHistoryVO">
		SELECT * FROM orderhistory where o_BrandId='${brandId}'
	</select>
	<select id="modifyDeliveryList" resultType="org.standard.project.order.OrderHistoryVO">
		UPDATE orderhistory SET o_Delivery=#{o_Delivery} where o_Num=#{o_Num}
	</select>
	<select id="deleteDeliveryList" resultType="org.standard.project.order.OrderHistoryVO">
		DELETE FROM orderhistory WHERE o_Num=#{o_Num}
	</select>
	<select id="insertOrderHistory" resultType="org.standard.project.order.OrderHistoryVO">
		INSERT INTO orderhistory(c_Id,p_Id,o_BrandId,o_Date,o_Num,p_Price,o_Quantity,o_TotalPrice,o_Delivery,zipcode,o_Address1,o_Address2,o_Name,o_Phone1,o_Phone2,parent_p_Id) values(#{c_Id},#{p_Id},#{o_BrandId},CURDATE(),NULL,#{p_Price},#{o_Quantity},#{o_TotalPrice},#{o_Delivery},#{zipcode},#{o_Address1},#{o_Address2},#{o_Name}, #{o_Phone1}, #{o_Phone2},#{parent_p_Id})
	</select>
	<select id="cusOrder" resultType="org.standard.project.order.OrderHistoryVO">
		SELECT * FROM orderhistory WHERE c_Id = #{c_Id} AND parent_p_Id = #{parent_p_Id};
	</select>
	<select id="getOneHistory" resultType="org.standard.project.order.OrderHistoryVO">
		SELECT * FROM orderhistory WHERE o_Num=#{o_Num};
	</select>
	<select id="getManCategoryMarketShareVOList" resultType="org.standard.project.order.Category2SalesVO">
		SELECT pp.pp_Category2 AS 'Category2', COUNT(*) AS 'NumberOfSales'  FROM orderhistory o JOIN productparent pp ON o.parent_p_Id = pp.parent_p_Id WHERE pp.pp_Category1 ='man' GROUP BY pp.pp_Category2; 
	</select>
	<select id="getWomanCategoryMarketShareVOList" resultType="org.standard.project.order.Category2SalesVO">
		SELECT pp.pp_Category2 AS 'Category2', COUNT(*) AS 'NumberOfSales'  FROM orderhistory o JOIN productparent pp ON o.parent_p_Id = pp.parent_p_Id WHERE pp.pp_Category1 ='woman' GROUP BY pp.pp_Category2; 
	</select>
	<select id="getMarketShareVOList" resultType="org.standard.project.order.MarketShareVO">
		SELECT COUNT(o.o_BrandId) AS 'NumberOfSales',b.brandName as 'brandName' FROM orderhistory o JOIN branddb b ON o.o_BrandId =b.brandId GROUP BY o_BrandId;
	</select>
</mapper>