<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.standard.project.OrderHistoryMapper">
	<select id="getList" resultType="org.standard.project.order.OrderHistoryVO">
		SELECT * FROM orderhistory where c_Id='${c_Id}'
	</select>
	<select id="getDailyIncomeList" resultType="HashMap">
		SELECT o_Date,o_TotalPrice FROM orderhistory GROUP BY o_Date DESC LIMIT 30
	</select>

	
</mapper>