<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.standard.project.ProductMapper">

	<select id="listProductParent" resultType="ProductParentVO">
		SELECT * FROM productParent WHERE pp_Brand= '${brandId}'
	</select>
	
	<select id="registProductParent" resultType="ProductParentVO">
		INSERT INTO productParent(pp_Name, parent_p_Id, pp_Num, pp_Category1, pp_Category2, pp_thumb, pp_image, pp_Brand, pp_Price) VALUES(#{pp_Name}, #{parent_p_Id}, #{pp_Num}, #{pp_Category1}, #{pp_Category2}, #{pp_thumb}, #{pp_image}, #{pp_Brand}, #{pp_Price});
	</select>
	
	<select id="cntBrandProductParent" resultType="_int">
		SELECT MAX(pp_Num) FROM productParent
	</select>
	
	<select id="deleteParentProduct" resultType="ProductParentVO">
		DELETE FROM productParent WHERE parent_p_Id=#{parent_p_Id}
	</select>
	
	<select id="selectParentProduct" resultType="ProductParentVO">
		SELECT * FROM productParent where parent_p_Id=#{parent_p_Id}
	</select>
	
	<select id="modifyParentProductWithoutImage" resultType="ProductParentVO">
		UPDATE productParent SET pp_Name=#{pp_Name}, pp_Category1=#{pp_Category1}, pp_Category2=#{pp_Category2}, pp_Price=#{pp_Price} where parent_p_Id=#{parent_p_Id}
	</select>
	<select id="modifyParentProductWithImage" resultType="ProductParentVO">
		UPDATE productParent SET pp_Name=#{pp_Name}, pp_Category1=#{pp_Category1}, pp_Category2=#{pp_Category2}, pp_Price=#{pp_Price}, pp_thumb=#{pp_thumb}, pp_image=#{pp_image} where parent_p_Id=#{parent_p_Id}
	</select>
	
	<select id="listProductChild" parameterType = "String" resultType="ProductChildVO">
		SELECT * FROM product WHERE parent_p_Id= #{parent_p_Id}
	</select>
	
	<select id="showAllProductList" resultType = "ProductParentVO">
		SELECT * FROM productParent; 
	</select>
	
	<select id="registProductChild" resultType="ProductChildVO">
		INSERT INTO product(parent_p_Id, p_Id, p_Brand, p_Color, p_Size, p_Stack) VALUES(#{parent_p_Id}, #{p_Id}, #{p_Brand}, #{p_Color}, #{p_Size}, #{p_Stack});
	</select>
	
	<select id="deleteChildProduct" resultType="ProductChildVO">
		DELETE FROM product WHERE p_Id=#{p_Id}
	</select>
	
	<select id="modifyChildProduct" resultType="ProductChildVO">
		UPDATE product SET p_Color=#{p_Color}, p_Size=#{p_Size}, p_Stack=#{p_Stack} where p_Id=#{p_Id}
	</select>
	
</mapper>