<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.standard.project.ProductMapper">

	<select id="listProductParent" resultType="ProductParentVO">
		SELECT * FROM productParent WHERE pp_Brand= '${brandId}'
	</select>
	
	<select id="registProductParent" resultType="ProductParentVO">
		INSERT INTO productParent(pp_Name, parent_p_Id, pp_Category1, pp_Category2, pp_thumb, pp_image, pp_Brand, pp_Price) VALUES(#{pp_Name}, #{parent_p_Id}, #{pp_Category1}, #{pp_Category2}, #{pp_thumb}, #{pp_image}, #{pp_Brand}, #{pp_Price});
	</select>
	
	<select id="cntBrandProductParent" resultType="_int">
		SELECT COUNT(*) FROM productParent WHERE pp_Brand = #{brandId}
	</select>
	
	<select id="deleteParentProduct" resultType="ProductParentVO">
		DELETE FROM productParent WHERE parent_p_Id=#{parent_p_Id}
	</select>
	
</mapper>