<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.standard.project.WishListMapper">
	<select id ="getWishList" resultType="org.standard.project.wishList.WishListVO">
		select * from wishlist where c_Id =#{c_Id}
	</select>
	<select id="getProductInfo" resultType="org.standard.project.wishList.WishListProductVO">
	SELECT p.p_Id,p.parent_p_Id,pp_Name,p_Color,p_Size,pp_thumb,p_Stack,pp_Price,p_Brand FROM  product p JOIN productparent pp ON p.parent_p_Id = pp.parent_p_Id WHERE p_Id=#{p_Id}
	</select>
	<select id="deleteWishList">
		delete from wishlist where c_Id =#{c_Id} and p_Id=#{p_Id}
	</select>
	<select id="add">
		insert into wishlist values(#{c_Id},#{p_Id},#{p_Price},#{w_Quantity})
	</select>
</mapper>