body{
        font:14px/1.8 Arial, Helvetica, sans-serif;
    }
   .side_nav{
   
   width: 200px !important 
   
   }
   
    .header{
        padding:40px 10px;
        text-align :center;
        background: #eee;
        margin-bottom:20px;
    }
    .logo{
        font-size: 2em;
        font-weight: bold;
        color: #fff;
        display: inline-block;
        padding:0 8px;
    }
    .container{
        overflow:hidden;
    }
    .nav{
        margin-top: 5%;
        float:left;
        width:150px; 
        margin-right:40px;
    }
    .nav-list{
        list-style:none;
        margin:0;
        padding:10px 0;
    }

    .nav-item{
        margin:4px 0;
    }
    .nav-link{
        display: block;
        text-decoration:none;
        padding:4px 10px;
        color: black;
      
    }
    .nav-link:hover{    }

    .content{
        float : left;
        width:900px;
        height: 500px;
        padding-left: 100px;
        padding-top: 5%;
        margin-bottom: 0px;
    }
    
    .footer{
        text-align: center;
        border-top:1px solid #aaa;
        margin : 20px 20px 0;
        font-size :12px;
    }
    .container{
    display: table;
    margin-left: 0px;
    }
    .nav, .content{
    display: table-cell;
    }
    .content table,tr{
        border: 1px solid black;
    }
    th{
        font-size: 15px;
        padding: 10px;
    }

    .add-product{
        float: right;
        margin-bottom: 10%;
        margin-top: 0px;
    }