html, body{
    background-color: #fff;
    height: 100%;
}
a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #a00;
}
h2{
    text-align: center;
    background-color: #fff;
    padding: 5px;
    margin: 0;
    margin-bottom:20px;
}

/* 레이아웃 외곽 너비 400px 제한*/
.wrap{
    max-width: 430px;
    margin: 0 auto; /* 화면 가운데로 */
    background-color: #fff;
    height: 590px;
    padding: 20px;
    box-sizing: border-box;

}
.reviewform textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.review_msg{
   width:100%;
   text-align:center;
}
.mypage_table{
   border:1px solid #e5e5e5;
}

.rating .rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 60px;
    height: 60px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;
}
.rating .rate_radio + label {
    position: relative;
    display: block;
    float: left;
    z-index: 10;
    width: 60px;
    height: 60px;
    background-image: url('star33.png');
    background-repeat: no-repeat;
    background-size: 60px 60px;
    cursor: pointer;
}
.rating .ratefill {
    background-color: #ffe400;
    width: 0;
    height: 60px;
    position: absolute;
}

.cmd{
    margin-top: 20px;
    text-align: right;
}
.cmd input[type="button"]{
    padding: 10px 20px;
    border: 1px solid #e8e8e8;
    border-radius:6px;
    background-color: #fff;
    background-color:#757575;  
    color: #fff;
    
}

.warning_msg1 {
    display: none;
    position: relative;
    text-align: center;
    background: #ffffff;
    line-height: 26px;
    width: 100%;
    color: red;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}
.warning_msg2 {
    display: none;
    position: absolute;
    text-align: center;
    background: #ffffff;
    line-height: 26px;
    width: 70%;
    color: red;
    padding: 10px;
    margin:5px
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}

 .rating{
 margin-left:50px;
 } 