<!DOCTYPE html>
<html lang="en">
<head>
    <title>어드민 메인페이지</title>
</head>
<header class="section">
    <div class="inner clearfix">
        <div class="menu-group float--left">
            <!-- <div class="logo"> -->
            <a href="../../views/index.html" class="logo"><img src="../../img/logo2.png" width="60" height="40"></a>
            <!-- </div> -->
            <ul class="main-menu toggle">
                <li><a href="../../views/StoreMain.html">Store</a></li>
                <li><a href="../../views/Magazin.html">Magazine</a></li>
                <li><a href="../../views/login_form.html">My page</a></li>
            </ul>
        </div>
        <div class="sign-group float--right toggle">
            <ul class="sub-menu">
                <li><a href="../../views/login_form.html">Login</a></li>
                <li><a href="">Register</a></li>
            </ul>
            <a href="#">
                <input type="text">
                <img src="../../img/search.svg" alt="search" height="20" width="20">
            </a>
            <a href="#">
                <img src="../../img/cart.svg" alt="cart" height="25" width="25">
            </a>
        </div>
        <div id="toggle-btn">Header Menu Toggle Button</div>
    </div>
</header>

<div class="side_nav">
    <div class="side_nav_item">
        <p class="side_nav_title">어드민 목록</p>
        <ul>
            <li><a href="gaipdegi">가입 대기 목록</a></li>
            <li><a href="sangpumgwanli">Magazin 관리</a></li>
            <li><a href="\project\Cs\cs_request">Customer Q&A</a></li>
        </ul>
    </div>
</div>
<body>

<table border="1">
<th>고객아이디</th>
<th>비밀번호</th>
<th>고객이름</th>
<th>출생년도</th>
<th>우편번호</th>
<th>주소</th>
<th>상세주소</th>
<th>연락처1</th>
<th>연락처2</th>
<th>사업자번호</th>
<th>가입일</th>
<th>메일주소</th>
<th>role</th>

</table>

</body>

<footer class="section">
    <div class="inner clearfix">
        <ul class="site-links float--right">
            <li><a href="#">API</a></li>
            <li><a href="#">Training</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <ul class="site-links float--left">
            <li>© 2020 STANDARD Inc.</li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Status</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</footer>
</html>