<!DOCTYPE html>
     <html lang="ko">
     
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>REGISTER</title>
         <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="../css/reset.css">
         <link rel="stylesheet" href="../css/style.css">
         <link rel="stylesheet" media="(max-width:1024px)" href="../css/main_medium.css">
         <link rel="stylesheet" media="(max-width:768px)" href="../css/main_small.css">
         
         <script defer src="../js/main.js"></script>
        
     </head>
     
     <body class="">
         <!-- HEADER -->
         <header class="section">
             <div class="inner clearfix">
                 <div class="menu-group float--left">
                     <!-- <div class="logo"> -->
                     <a href="../views/index.html" class="logo"><img src="../img/logo2.png" width="60" height="40"></a>
                     <!-- </div> -->
                     <ul class="main-menu toggle">
                         <li><a href="#">Store</a></li>
                         <li><a href="#">Magazine</a></li>
                         <li><a href="#">My page</a></li>
                     </ul>
                 </div>
                 <div class="sign-group float--right toggle">
                     <ul class="sub-menu">
                         <li><a href="../views/login_form.html">Login</a></li>
                         <li><a href="">Register</a></li>
                     </ul>
                     <a href="#">
                         <input type="text">
                         <img src="../img/search.svg" alt="search" height="20" width="20">
                     </a>
                     <a href="#">
                         <img src="../img/cart.svg" alt="cart" height="25" width="25">
                     </a>
                 </div>
                 <div id="toggle-btn">Header Menu Toggle Button</div>
             </div>
         </header>
     
         <!-- CONTENT -->
         <div class="content_wrap inner">
             <!-- side_nav -->
             <div class="side_nav">
                 <div class="side_nav_item">
                     <p class="side_nav_title">My page</p>
                     <ul>
                         <li><a href="#">Login</a></li>
                         <li><a href="#">Register</a></li>
                         <li><a href="cart.html">Cart</a></li>
                         <li><a href="order.html">Order</a></li>
                         <li><a href="#">Wish list</a></li>
                         <li><a href="https://www.cjlogistics.com/ko/tool/parcel/tracking">Delivery</a></li>
                     </ul>
                 </div>
             </div>
             

             <!-- Register -->

             <div class="register_wrap">
                <div class="title_area">
                  <div class="title_area1">
                      <h1>회원 가입</h1>
                  </div>
                  <div class="title_area2">
                      <h2>기본 정보</h2>
                      <p class="required"> <img src="../img/required.png" width="8" height="8"> 필수입력사항</p>
                  </div>
                  </div>
                <div class="Register_table">
                    <table class="type12">
                        <thead>
                            <tr>
                                <th scope="row" > 아이디 <img src="../img/required.png" width="8" height="8" alt="필수"></th>
                                <td><input id="c_Id" name="c_Id" type="text" class="inputTypeText"></th>
                                    <span id="idMsg" class="error"> 아이디를 입력해주세요.
                                    </span> (영문소문자/숫자, 4~16자)</td>    
                            </tr>
                            <tr>
                                <th scope="row"> 비밀번호 <img src="../img/required.png" width="8" height="8" alt="필수"></th>
                                <td><input id="c_Password" name="c_Password" autocomplete="off" maxlength="16" 0="disabled"  type="password"> 
                                    (영문 대소문자/숫자 2가지 이상 조합, 10자~16자)</td>
                            </tr>
                            <tr>
                                <th scope="row"> 비밀번호 확인 <img src="../img/required.png" width="8" height="8" alt="필수"></th>
                                <td><input id="c_Password_confirm" name="c_Password_confirm" fw-filter="isFill&amp;isMatch[c_Password]" fw-label="비밀번호 확인" fw-msg="비밀번호가 일치하지 않습니다." autocomplete="off" maxlength="16" 0="disabled" value="" type="password"> 
                                    <span id="pwConfirmMsg"></span> </td>
                            </tr>
                            <tr>
                                <th scope="row" id="c_Name"> 이름<img src="../img/required.png" width="8" height="8" alt="필수"></th>
                                <td>
                                    <span id="nameContents"><input type="text" name="c_Name" id="c_Name" maxlength="20"></span>
                                    <span id="under14Msg" ></span></td>
                            </tr>
                            <tr>
                                <th scope="row" id="c_Birthday"> 출생년도</th>
                                <td>
                                    <span id="nameContents"><input type="text" name="c_Name" id="c_Name" maxlength="20"></span>
                                    <span id="under14Msg" ></span></td>
                            </tr>
                            <tr class="">
                                <th scope="row">주소 <img src="../img/required.png" width="8" height="8" alt="필수"></th>
                                <td>
                                <input id="c_Address1" name="c_Address1" fw-filter="isLengthRange[1][14]" fw-label="우편번호1" fw-msg="" class="inputTypeText" placeholder="" readonly="readonly" maxlength="14" value="" type="text">                    
                                <a href="#none" onclick="" id="postBtn"><img src="../img/Address.png" width="70" height="25" alt="우편번호"></a><br>
                                <input id="addr1" name="addr1" fw-filter="isFill" fw-label="주소" fw-msg="" class="inputTypeText" placeholder="" readonly="readonly" value="" type="text"> 기본주소<br>
                                <input id="addr2" name="addr2" fw-filter="" fw-label="주소" fw-msg="" class="inputTypeText" placeholder="" value="" type="text"> 나머지주소 (선택입력가능)                </td>
                            </tr>





                    </table>
                </div>
            </div>
        </div>

     
         <!-- FOOTER -->
         <footer class="section">
             <div class="inner clearfix">
                 <ul class="site-links float--right">
                     <li><a href="#">API</a></li>
                     <li><a href="#">Training</a></li>
                     <li><a href="#">Shop</a></li>
                     <li><a href="#">About</a></li>
                 </ul>
                 <ul class="site-links float--left">
                     <li>© 2020 STANDARD Inc.</li>
                     <li><a href="#">Terms</a></li>
                     <li><a href="#">Status</a></li>
                     <li><a href="#">Help</a></li>
                 </ul>
             </div>
         </footer>
     </body>
     
     </html>

