<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="seller" href="css/style.css">
    <title>셀러 페이지</title>
</head>

<style>

    ul{
        font-size: 20px;
        list-style-type: square;
        
    }

    .menu_box{
        border :1px solid; padding-left: 0px;
        margin-right: 1550px;
        padding-bottom: 1px;
        
    }



</style>

<body>
   
    <h1>헤더</h1>
<hr>
<div class=menu_box>
    <ul>상품관리</ul>
    <ul>배송관리</ul>
    <ul>리뷰관리</ul>
</div>

</body>
</html>