<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/seller.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>리뷰관리 페이지</title>
</head>

<body>
     <header class="section">
        <div class="inner clearfix">

            <div class="menu-group float--left">
                <!-- <div class="logo"> -->
                    <a href="#" class="logo"><img src="../img/logo2.png" width="60" height="40"></a>
                <!-- </div> -->
                
                <ul class="main-menu toggle">
                    <li><a href="#">Store</a></li>
                    <li><a href="#">Magazine</a></li>
                    <li><a href="#">My page</a></li>
                    
                </ul>
            </div>
            
            <div class="sign-group float--right toggle">
                <ul class="sub-menu">
                    <li><a href="">Login</a></li>
                    <li><a href="">Register</a></li>
                </ul>
                <a href="#">
                    <input type="text">
                    <img src="../img/search.svg" alt="search" height="20" width="20">
                </a>
                <a href="#">
                    <img src="../img/cart.svg" alt="cart" height="25" width="25">
                </a>
            </div>
            <div id="toggle-btn">Header Menu Toggle Button</div>
        </div>
    </header>
    <div class="frame">
        <div class="container">
        <div class="nav">
            <ul class="nav-list">
                <li>관리자페이지</li>
                <br>
                <li clas="nav-item"><a href ="" class="nav-link">상품 관리</a></li>
                <li clas="nav-item"><a href ="" class="nav-link">배송 관리</a></li>
                <li clas="na`v-item"><a href ="" class="nav-link">리뷰 관리</a></li>
            </ul>
        </div>
        <div class="content">
            <h3>리뷰 관리</h3>
            <p><input type="date">~<input type="date"><input type="submit" value="검색"></p>
            
            <br>
         
          
            <table class="table table-hover">
                <thead>
                   
                  <tr>
                    <th>번호</th>
                    <th>등록일</th>
                    <th>제목</th>
                    <th>주문번호</th>
                    <th>상품명</th> 
                    <th>작성자</th>
                    <th>배송번호</th>
                    <th>상태</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox" name=""> 1</td>
                    <td>2020.12.15</a></td>
                    <td><a href="">주문취소 문의</a></td>
                    <td><a href="">2020121000001</a></td>
                    <th>후드</th>
                    <td>홍길동</td>
                    <td>1111</td>
                    <td>미확인</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name=""> 2</td>
                    <td>2020.12.16</td>
                    <td><a href="">사이즈 변경</a></td>
                    <td><a href="">2020121000002</a></td>
                    <th>바지</th>
                    <td>김길동</td>
                    <td>22222</td>
                    <td>처리완료</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name=""> 3</td>
                    <td>2020.12.16</td>
                    <td><a href="">상품사이즈 문의</a></td>
                    <td><a href=""></a></td>
                    <th></th>
                    <td>이길동</td>
                    <td></td>
                    <td>처리완료</tr>
                  <tr>
                    <td><input type="checkbox" name=""> 4</td>
                    <td>2020.12.17</td>
                    <td><a href="">재고문의드립니다</a></td>
                    <td><a href=""></a></td>
                    <th></th>
                    <td>박길동</td>
                    <td></td>
                    <td>처리완료</tr>
                </tbody>
              </table>
              <tb><button>선택목록삭제</button></tb>
        </div>
        </div>

        <footer class="section">
            <div class="inner clearfix">
        
                <ul class="site-links float--right">
                    <li><a href="#">Contact GitHub</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About</a></li>
                </ul>
        
                <ul class="site-links float--left">
                    <li>© 2020 STANDARD Inc.</li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Status</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
        
                <a href="#" class="logo">
                    <img src="../img/logo2.png" width=60 height="40">   
                </a>
            </div>
        </footer> 
    </div>
    
    
 
</body>
</html>